.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px;
}

.home-container img {
    width: 100%;
}

.home-reviews h2 {
    text-align: center;
    position: relative;
}

.home-reviews button {
    background-color: rgb(37, 14, 105);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.see-icon {

    margin-left: 10px;
}

@media screen and (max-width:688px) {
    .home-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 30px;
    }
}