.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px;
}

.home-container img {
    width: 100%;
}

.home-reviews h2 {
    text-align: center;
}

.home-reviews .see-btn {
    background-color: rgb(37, 14, 105);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}